@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$primary-color: #ffc87a;
$text-color: #1a2b5f;

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: $text-color;
  line-height: 1.4;
  font-weight: 400;
}

@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  height: 1000px;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  padding-top: 4rem;
  &__inner {
    @include flex(center, space-between);
  }
  &__menu {
    &-list {
      @include flex(center);
    }
    &-item {
      margin-left: 5rem;

      &:last-child {
        margin-left: 7rem;
      }
    }
    &-link {
      font-size: 1.4rem;
      font-weight: 400;
      color: $text-color;
      transition: color 0.25s linear, border 0.25s linear;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
  color: $text-color;
  &__text {
    color: $primary-color;
  }
}

.banner {
  padding-top: 15rem;
  padding-bottom: 15rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  &__heading {
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  &__desc {
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
    .btn {
      margin: 0 1rem;
    }
  }
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: $text-color;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;
  &--border {
    border: 1px solid currentColor;
  }
  &--rounded {
    border-radius: 5rem;
  }
  &--primary {
    background-color: $primary-color;
    &.has--shadow {
      box-shadow: 0 10px 35px -5px $primary-color;
    }
  }

}
